@import "fonts.css";
@import "toolbar.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: SamsungSans;
    margin-bottom: 25%;
    overflow-x: hidden;
}

header {
    background-color: #2D82B7;
}

#whiteScreen {
    display: block;
    transform: scale(1);
}

h1 {
    font-size: 37px;
    margin-bottom: 7%;
    text-align: center;
    margin-top: 15%;
}

.content a:link {
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

#first {
    margin-top: 30%;
}

.scroll-container {
    height: auto;
    margin-top: 5%;
    margin-bottom: 40%;
}

ul li {
  margin: 10px 0;
}
  
.carousel-primary,
.carousel-secondary {
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}
  
.carousel-primary img {
    display: block;
    margin: 0 auto;
    transform: scale(0.9);
}

.carousel-primary p {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
}
  
.carousel-primary {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    animation: scroll-horizontal 20s linear infinite;
}
  
.carousel-secondary {
    animation: scroll-horizontal 20s linear infinite;
    animation-delay: 10s;
}


@keyframes scroll-horizontal {
    0% {
        left: 100%;
    }
    
    100% {
        left: -100%;
    }
}
  
.carousel-primary:hover,
.carousel-primary:hover~.carousel-secondary {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
  
.carousel-secondary:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}
  
  
.scroll-container:hover>.carousel-primary:not(:hover) {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}


footer {
    display: grid;
    grid-template-columns: auto auto auto;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    border-top: 3px solid #2D82B7;
    text-align: center;
    font-size: 20px;
}

footer img, footer p {
    display: block;
    margin: 0 auto;
}

footer img {
    width: 40px;
}

.active {
    color: #2D82B7;
}

.active img {
    filter: invert(20%) sepia(243%) saturate(1576%) hue-rotate(207deg) brightness(120%) contrast(73%);
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: black;
}
