@import "fonts.css";
@import "toolbar.css";

body {
    font-family: SamsungSans;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 10%;
}

.header {
    background-color: #1A9B00;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.header p {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top: 4%;
}

.content {
    width: 90%;
    margin: 0 auto;
    container-type: inline-size;
    container-name: iframe;
}

h1 {
    font-size: 37px;
    margin-top: 25%;
    margin-bottom: 3%;
    text-align: center;
}

.contactLetter {
    margin-top: 5%;
    margin-bottom: 7px;
}

.collapsible {
    background-color: #F8F8F8;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.collapsible:not(:nth-of-type(2)) {
    border-top: 1px solid black;
}

.collapsible:hover {
    background-color: #f1f1f1;
}

.collapsible span {
    position: relative;
    top: -5px;
    left: 10px;
}

.collapsible img {
    width: 30px;
    margin-left: -15px;
    position: relative;
    top: 1px;
}
  
.collapsibleContent {
    max-height: 0;
    overflow: hidden;
    background-color: #F8F8F8;
    border-bottom: 1px solid black;
    transition: max-height 0.2s ease-out;
}

.button:link, .button:visited {
    background-color: #1A9B00;
    color: white;
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
  
.button:hover, .button:active {
    background-color: #178501;
}

.collapsibleContent span {
    float: left;
    position: relative;
    top: 15px;
}

.collapsibleContent .button {
    float: right;
    margin-bottom: 12px;
}