@media only screen and (max-width: 500px) {
    body {
        margin: 0;
    }

    .tabletContent {
        width: 100%;
    }

    .tablet {
        margin: 0;
        height: 87vh;
    }

    .rotateTabletButton {
        display: none;
    }

    .toolbar {
        grid-template-columns: 10% 53% 7% 7% 1% 7% auto;
    }

    .dayTime {
        margin-top: 50%;
    }

    .iconsGrid {
        font-size: 15px;
        margin-top: 80%;
    }

    .iconsGrid img {
        width: 55px;
        margin-bottom: 5px;
    }

    h1 {
        margin-top: 33%;
    }

    .contactLetter {
        margin-top: 10%;
    }

    #mail {
        width: 50%;
        top: 3px;
    }
}