@media only screen and (max-width: 500px) {
    body {
        margin: 0;
    }

    .tabletContent {
        width: 100%;
    }

    .tablet {
        margin: 0;
        height: 87vh;
        border-bottom-width: 65px;
    }

    .tablet:after {
        bottom: -68px;
    }

    .circle {
        margin-top: 12px;
    }

    iframe {
        height: 99%;
    }

    .rotateTabletButton {
        display: none;
    }

    .toolbar {
        grid-template-columns: 10% 53% 7% 7% 1% 7% auto;
    }

    .dayTime {
        margin-top: 50%;
    }

    .iconsGrid {
        font-size: 15px;
        margin-top: 80%;
    }

    .iconsGrid img {
        width: 55px;
        margin-bottom: 5px;
    }

    .contactLetter {
        margin-top: 10%;
    }

    #mail {
        width: 50%;
        top: 3px;
    }

    h1 {
        margin-top: 20%;
    }

    #first {
        margin-top: 40%;
    }

    #aboutPage {
        margin-bottom: 35%;
    }

    .scroll-container {
        margin-bottom: 55%;
    }

    .carousel-primary img {
        transform: scale(0.7);
    }

    .carousel-primary p {
        margin-top: 0;
    }

    footer {
        font-size: 17px;
    }

    footer img {
        width: 40px;
    }
}