@media only screen and (max-width: 500px) {
    body {
        margin: 0;
        margin-bottom: 5%;
    }

    .tabletContent {
        width: 100%;
    }

    .tablet {
        margin: 0;
        height: 87vh;
        width: 100%;
        border-bottom-width: 65px;
    }

    .tablet:after {
        bottom: -68px;
    }

    .circle {
        margin-top: 12px;
    }

    iframe {
        height: 99%;
    }

    #homescreenBanner h2 {
        font-size: 40px;
    }

    .rotateTabletButton {
        display: none;
    }

    .toolbar {
        grid-template-columns: 10% 53% 7% 7% 1% 7% auto;
    }

    #battery {
        transform: translateY(3px);
    }

    .dayTime {
        margin-top: 50%;
    }

    .iconsGrid {
        font-size: 15px;
        margin-top: 80%;
    }

    .iconsGrid img {
        width: 55px;
        margin-bottom: 5px;
    }

    .contactLetter {
        margin-top: 10%;
    }

    #mail {
        width: 50%;
        top: 3px;
    }

    h1 {
        margin-top: 20%;
    }

    #first, #first {
        margin-top: 40%;
        margin-bottom: 10%;
    }

    #files #first {
        margin-bottom: 0;
    }

    .scroll-container {
        margin-bottom: 55%;
    }

    .carousel-primary img {
        transform: scale(0.7);
    }

    .carousel-primary p {
        margin-top: 0;
    }

    footer {
        font-size: 17px;
    }

    footer img {
        width: 40px;
    }

    #files #first {
        margin-top: 45%;
    }

    .file .content {
        grid-template-columns: 15% 85%;
    }

    .file img {
        width: 33px;
    }

    .file span {
        font-size: 18px;
        top: 8px;
    }

    .pdfIcon {
        position: relative;
        top: 5px !important;
    }
    
    .pdfInfo {
        top: 3px !important;
    }
    
    .pdfDate {
        top: 0 !important;
        font-size: 13px !important;
    }
    
    .pdfViewer {
        display: none;
    }

    #errorMessage {
        display: block;
        margin-top: 30%;
        font-size: 23px;
    }

    h3 {
        margin-bottom: 17%;
    }

    .project {
        padding-left: 5px;
        padding-right: 5px;
    }

    .project p {
        font-size: 18px;
    }

    .image {
        height: 20vh;
    }

    #projectButtons {
        margin-top: 10%;
    }

    #projectButtons .button {
        width: 80%;
    }

    #projectButtons .button img {
        top: 4px;
    }

    #my-gallery {
        margin-top: 17%;
    }

    #my-gallery .image {
        height: 15vh;
    }

    .btn-mt {
        margin-top: 12%;
    }
}